Ans 1)

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Ans 2)

In [2]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Ans 3)

In [4]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Ans 4)

In [5]:
#  DataFrame in pandas is a two-dimensional tabular data structure with rows and columns, while a Series is a one-dimensional labeled array representing a single column or row of data from a DataFrame.

#example
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Accessing a column as a Series
name_series = df['Name']
print("Series - Name:")
print(name_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Series - Name:
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

Ans 5)

In [6]:
# Some common functions include:

#1)head() and tail():
#2)info()
#3)drop()
#4)groupby()


#example of haed()

import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emily'],
    'Age': [25, 30, 27, 35, 29],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

# View the first 3 rows using head()
print(df.head(3))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Ans 6)

In [7]:
# Series and DataFrame are mutable in nature, while Panel is not applicable in recent versions of Pandas.

Ans 7)